body.tb_fullwidth #secondary,
body.tb_hide_title .card_title{
	position:absolute;
	clip:rect(1px, 1px, 1px, 1px);
	left:-999em
}
body.tb_fullwidth #primary,
body.tb_fullwidth .single-section > .container{
	max-width:none;
    width:auto;
    margin:0;
	padding:0;
	float:none;
	flex:1
}
body.tb_fullwidth .single-section,
body.tb_fullwidth .card-blog-post{
	padding:0
}
body.tb_fullwidth .single-section > .container > .row{
	margin:0
}