body.tb_hide_title .page-header{
	position:absolute;
	clip:rect(1px, 1px, 1px, 1px);
}
body.tb_fullwidth .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
body.tb_fullwidth #page .entry-content > .themify_builder_content {
	max-width: var(--responsive--alignfull-width);
    width: auto;
    margin-left: auto;
    margin-right: auto;
}