body.tb_hide_title .page-header{
	position:absolute;
	clip:rect(1px, 1px, 1px, 1px);
}
body:not([class*=elementor-page-]).tb_fullwidth .site-main{
	max-width:none;
    width:auto;
    margin-left:auto;
    margin-right:auto;
}