body.tb_hide_title .page-header{
	position:absolute;
	clip:rect(1px, 1px, 1px, 1px)
}
body.tb_fullwidth .wrapper .main .container .page-content-wrap,
body.tb_fullwidth .wrapper .main .container,
body.tb_fullwidth .wrapper .main{
	max-width:none;
    width:auto;
    margin:0;
	padding:0;
	border-radius:0;
	box-shadow:none
}
body.tb_fullwidth .wrapper .main .container .section .row{
	margin:0
}