body.tb_fullwidth #secondary,
body.tb_hide_title .page-header{
	position:absolute !important;
	clip:rect(1px, 1px, 1px, 1px);
	left:-999em
}
body.tb_fullwidth .site-content > .container,
body.tb_fullwidth #primary{
	max-width:none;
    width:auto;
    margin:0;
	padding:0;
	float:none
}