#searchform{
	font-size:2em;
	border-bottom:1px solid;
	position:relative;
	margin:0 0 1em
}
#searchform #s{
	background-color:transparent;
	border:none;
	margin:0;
	width:100%;
	padding:.45em;
	padding-left:1.75em;
	box-shadow:none;
}
#searchform .icon-search{
	color:#000;
	font-size:1.2em;
	line-height:1;
	position:absolute;
	left:2px;
	bottom:15px;
}